dnnlib
docs
generated_img
gui_utils
metrics
torch_utils
training
viz
.RData
.Rhistory
Dockerfile
Rplot_meanScore_GlobalTrainSet.pdf
Statistiques stylegan2.docx
avgFeatScore_ntwk560.xlsx
avgLatentScore_ntwk560.xlsx
avg_spectra.py
calc_metrics.py
colab.test.pdf
dataset_tool.py
dnnlib
docs
environment.yml
gen_images.py
gen_video.py
generated_img/
gui_utils
k_mean_cluster.py
legacy.py
metrics.py
metrics
score_a05_cosine.xlsx
score_a05_euclidean.xlsx
score_a05_izif.xlsx
score_a05_manhattan.xlsx
score_a05_torchpd.xlsx
score_a0_cosine.xlsx
score_a0_euclidean.xlsx
score_a0_izif.xlsx
score_a0_manhattan.xlsx
score_a0_torchpd.xlsx
score_a1_cosine.xlsx
score_a1_euclidean.xlsx
score_a1_izif.xlsx
score_a1_manhattan.xlsx
score_a1_torchpd.xlsx
testScore_v1.R
test_data/
torch_utils/
train.py
train_encoder2.py
training/
valscore_v1.R
visualizer.py
viz
